Dockerfile
.dockerignore
README.md
Webpage/node_modules
Webpage/npm-debug.log
Webpage/.next

# testing
Webpage/coverage

# production
Webpage/build
Webpage/out


Webpage/package-lock.json

Webpage/npm-debug.log*
Webpage/yarn-debug.log*
Webpage/yarn-error.log*

# package
Webpage/dist
Webpage/pnpm-lock.yaml